.main-page-container{
    width: 100%;
    display:  flex;
    flex-flow: column;

}
.team-name-container{
    width: 100%;
    height: 60px;
    display:  flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 20px;
}
.team-name{
    color: #797979;
    font-size: 24px;
}
.projects-slider-container{
    width: 100%;
    height: 280px;
    padding: 0 40px;
    margin: 25px 0;
}
.add-project-btn,.add-member-btn{
    width: 160px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-project-btn  span,.add-member-btn span{
    font-size: 14px;
    color: #268F49;
}
.slider-title-container{
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.members-slider-container{
    width: 100%;
    height: 250px;
    padding: 0 40px;
}
.delete-btn:hover{
    background-color: rgb(233, 96, 96);

}
.loading-animation{
    margin-left: 50%;
}

.search-icone{
    background-image: url(../../../../assets/images/Search-icone.svg) ;
    background-size: cover;
    position: absolute;
    margin-left: 540px;
    margin-right: 0;
    width: 25px;
    height: 25px;
}


.addMember-Modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
}
.modal-close-btn{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.addMember-Modal-body{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addMember-Modal-body input{
    width: 600px;
    border-radius: 15px;
    text-align: right;
    padding-right: 50px;
}


.addProject-Modal-body{
    padding-right: 20px;
}
.input-groupp{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
   
}
#project-name,#choose-manager{
    width: 600px;
    border-radius: 15px;
    text-align: right;
}
#project-data-picker{
    width: 300px;
    height: 45px;
    border-radius: 15px;
    text-align: right;
}





.upload-file-btn{
    display: block;
    position: relative;
    width: 220px;
    margin: auto;
    cursor: pointer;
    border: 0;
    height: 40px;
    border-radius: 20px;
    outline: 0;
}
.project-upload-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.upload-file-btn:hover:after {
    background: #ededee;
}
.upload-file-btn:after {
    transition: 200ms all ease;
    border: 3px solid rgba(0,0,0,.2);
    border-radius: 20px;
    background: #ffffff;
    color: #B9B9B9;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: 'انتخاب فایل';
    line-height: 30px;
    border-radius: 5px;
}

.submit-btn{
    width: 275px;
    height: 40px;
    background-color: #FFC731;
    outline-style: none;
    border-radius: 20px;
    border-color: white;
}