.chat-container{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.chat-title{
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    padding:  0 20px;
    align-items: center;
}
.chat-title-container{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
#chat-project-name{
    font-size: 24px;
    color: #797979;
}
#manager-name{
    color: #797979;
}
.chat-body{
    width: 100%;
    height: 100%;

}
.chat-text-box{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.chat-text-box input{
    margin-left: 10px;
    border-radius: 15px;
    text-align: right;
}
#document-logo{
    cursor: pointer;
}