.projects-table {
    padding: 30px;
}

.projects-table table {
    direction: rtl;
    /* border-radius: 10px !important; */
    border-width: 1px !important;
    border-collapse: collapse;
    border: 1px #B9B9B9 solid;
   border-bottom-left-radius:10px !important;
}
.projects-table table tr:first-child th:first-child {
    border-top-right-radius: 10px !important;

  }
  .projects-table table tr:last-child th:last-child {
    border-top-left-radius: 10px !important;
    
  }
  .projects-table table thead{
    border: 0.02px #FAFAFA solid;
    border-radius: 10px !important;
  }
  .projects-table table tbody{
    border-radius: 10px !important;

  }

.table-header{
    background-color: #E6E6E6;


}
.project-list-title{
    font-size: 24px;
}
.projects-table tr{
    text-align: center;
}
.project-list-title{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
.track-btn{
    border: 1px solid #FFC731;
    background-color: white;
    color:#B9B9B9 ;
    padding:  2px 5px;
    border-radius: 20px;
}