.CreateTeamForm-form{
    padding-right: 30px;
    
}



#data-picker-container div{
    text-align: right;
}
#team-name,#name-of-new-member,#name-of-project,#select-manager{
    width: 600px;
    border-radius: 15px;
    text-align: right;
}

.CreateTeamForm-title{
    font-size: 24px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}
.upload-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.css-yk16xz-control{
    border-radius: 15px !important;
}






#upload-file-btn{
    display: none;
    
}
.upload-btn-file-lable{
    
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #b9b9b9;
    color: #b9b9b9;
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.upload-btn-file-lable:hover{
    background-color: #ebeae5;
    transform: scale(1.04);
}
.project-data-picker {
    width: 300px;
    border: 1px solid rgb(179, 176, 176) ;
    outline: 0;    
    height: 35px;
    padding-right: 10px;
    text-align: right;
    border-radius: 15px;
}



.fix-serch-icon-style{
    margin: 5px 10px;
}
.create-team-submit-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: #FFC731;
    outline-style: none;
    border-radius: 20px;
    border-color: white;
    transition: 0.5s;
}
.create-team-submit-btn:hover{
    background-color: #e7b51f;
    transform: scale(1.01);

}